.cup video{
    width: 100%;
    display: block;
}
.cup{
    position: relative;

}
.img{
    position: absolute;
    bottom: 3%;
    left: 50%;
}
.bs{
    box-sizing: border-box;
    padding: 5%;
}
.text{
    margin-left: -100%;
    background-color: white;
    position: relative;
    top: 30vh;
    box-shadow:0 0 5px 3px white;
}
.ps{
    position: relative;
}
.pm{
    margin-top: 30vh;
}
.txt{
    position: absolute;
    top: 30%;
    left: 33.333333%;
}
.fix{
    padding: 10%;
    margin-left: 0;
    top: -100%;
}
@media (max-width: 768px) {
    .text{
        margin-left: 10%;
        top: 0;
    }

}
.rt{
    position: relative;
    top: -45vh;
}
@media (max-width: 768px) {
    .rt{
        top: 0;
    }
}
#swiper1{
    height: 100%;
}
.item{
    /* width: 200px; */
    line-height: 1rem;
    color: gray;
    font-size: 24px;
    left: 50%;
    /* margin: 10px; */
    padding: 10px;
    position: relative;
    display: inline-block;
}
.item:before{
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: 100%;
    right: 100%;
    border-top: 1px solid transparent;
    border-left: 1px solid transparent;
    transition: right 1s,
                bottom 1s,
                border-top 0s 1s,
                border-left 0s 1s;
}
.item:hover:before{
    bottom: -1px;
    right: -1px;
    border-top: 1px solid maroon;
    border-left: 1px solid maroon;
    transition: right 1s, bottom 1s;
}
.item:after{
    content: '';
    position: absolute;
    right: -1px;
    bottom: -1px;
    top: 100%;
    left: 100%;
    border-bottom: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: top 1s,
                left 1s,
                border-bottom 0s 1s,
                border-right 0s 1s;
}
.item:hover:after{
    top: -1px;
    left: -1px;
    border-bottom: 1px solid maroon;
    border-right: 1px solid maroon;
    transition: top 1s, left 1s;
}